.bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img{
    min-height: 100%;
    width: 100%;
}
.btn1_1{
    position: fixed;
    left: 250px;
    top: 310px;
}
.btn1_2{
    position: fixed;
    left: 400px;
    top: 310px;
}
.btn1_3{
    position: fixed;
    left: 400px;
    top: 450px;
}
.btn1_4{
    position: fixed;
    left: 250px;
    top: 470px;
}
.btn2_1{
    position: fixed;
    left: 100px;
    top: 200px;
}

h1{
    color:white;
    font-size: 60px;
    position: fixed;
    left: 400px;
    top: -10px;
}
h2{
    color:white;
    position: fixed;
    left: 500px;
    top: 10px;
}
a{
    color:white;
    font-size: 14px;
}

p{
    color:white;
    font-size: 14px;
}